<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">Title</title>
    <link rel="shortcut icon" href="../emptyPhoto.png">
    <link rel="stylesheet" th:href="@{/styles/myStyles.css}" type="text/css" media="all">
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type=image/x-icon>
</head>
<body>
<nav th:fragment="menu" class="mt-auto py-3"
     style="padding: 0 !important;
"
>

    <a th:href="@{/}">
        <img th:src="@{/img/header.png}" alt="header" width="100%">
    </a><!-- potrzebny byłby banner uniwersalny językowo -->

    <div style="

            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
            scroll-behavior: auto;
            box-shadow: #f7f3d5 10px 1px 5px 0.3rem
        ">

        <p><a href="/" th:text="#{menu.homepage}">Homepage</a></p>
        <p><a href="/about" th:text="#{menu.about}">About us</a></p>
        <p><a href="/news" th:text="#{menu.news}">News</a></p>
        <p><a href="/offer" th:text="#{menu.offer}">Offer</a></p>
        <p><a th:href="@{/contact}" th:text="#{menu.contact}">Contact</a></p>


    </div>
</nav>
<div class="container ">
    <section class="col-md-12">
        <!--  kafelka całkiem spoko  -->

        <div style=" box-shadow: 10px 10px 15px gray;
                padding: 30px;
                margin-left: 20%;
                margin-bottom: 25px;">
            <div class="kafel" th:text="${product.header}" style="color: darkgray;
          box-shadow: 10px 10px 15px gray;
          padding: 30px;
          margin-bottom: 25px;
        ">nagłówek produktu
            </div>

            <div class="kafel" th:utext="${product.description}" style="color: darkgray;
        box-shadow: 10px 10px 15px gray;
        padding: 20px;
        margin-bottom: 25px;
        ">opis produktu
            </div>
        </div>

    </section>

    <p th:replace="parts/devCard" >Developed by Filip M. - www.github.com/Filip-Mosz</p>
</div>
<footer th:replace="parts/footer :: footer" class="fixed-bottom">The Footer</footer>
</body>
</html>