<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bestmix® About</title>
    <script th:replace="parts/langScript"></script>
    <link rel="stylesheet" th:href="@{/styles/myStyles.css}" type="text/css" media="all">
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
</head>
<body>
<div th:replace="parts/sidePanel">sidepanel</div>
<div class="sticky-top shadow p-4 mb-4 bg-white" th:replace="parts/menu :: menu">...menu...</div>

<div class="container">
    <section class="col-md-12">
        <!--  kafelka całkiem spoko  -->

        <div class="kafel">
            <div class="kafel" th:text="#{content.about}" >Dostarczamy specjalistyczne rozwiązania informatyczne ...</div>
            <div class="kafel" th:text="#{content.about2}" >W zależności od potrzeb ...</div>
        </div>

    </section>
</div>

<p th:replace="parts/devCard">Developed by Filip M. -</p>
</div>
<footer th:replace="parts/footer :: footer" class="fixed-bottom">The Footer</footer>
</body>
</html>