<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DEV Bestmix® - Strategiczne narzedzia informatyczne dla przemysłu spożywczego i paszowego</title>
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Bestmix</h1>
<div th:replace="parts/header :: header">The header</div>
<div th:replace="parts/menu :: menu">The menu</div>
<div th:replace="parts/content :: content">The Content</div>
<div th:replace="parts/footer :: footer">The Footer</div>
</body>
</html>