<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bestmix - Offer</title>
    <script th:replace="parts/langScript"></script>
    <link rel="stylesheet" th:href="@{/styles/myStyles.css}" type="text/css" media="all">
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
</head>
<body>
<div th:replace="parts/sidePanel">sidepanel</div>
<div class="sticky-top shadow p-4 mb-4 bg-white" th:replace="parts/menu :: menu"> menu</div>
<div class="container">

    <div class="container">
        <section class="col-mid-12">
            <div class="kafel">
                <div class="offer">
                    <span>
                        <p>Bestmix Food</p>
                        <a th:href="#{offer.food.link}">
                            <img th:src="@{/img/food.jpg}" alt="food" width="75%">
                        </a>
                    </span>
                    <span>
                        <p>Bestmix Feed</p>
                        <a th:href="#{offer.feed.link}">
                            <img th:src="@{/img/feed.jpg}" alt="food" width="75%">
                        </a>
                    </span>
                </div>
                <div class="offer">
                    <span>
                        <p>Bestmix Quality Control</p>
                        <a th:href="#{offer.lims.link}">
                            <img th:src="@{/img/lims.jpg}" alt="food" width="75%">
                        </a>
                    </span>
                    <span>
                        <p>Bestmix Ration</p>
                        <a th:href="#{offer.ration.link}">
                            <img th:src="@{/img/ration.jpg}" alt="food" width="75%">
                        </a>
                    </span>
                </div>
            </div>
        </section>
    </div>

    <p th:replace="parts/devCard">Developed by Filip M. -</p>
</div>
<footer th:replace="parts/footer :: footer" class="fixed-bottom">The Footer</footer>
</body>
</html>