<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our clients about us</title>
    <script th:replace="parts/langScript"></script>
    <link rel="stylesheet" href="../styles/myStyles.css" type="text/css" media="all">
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="sticky-top shadow p-4 mb-4 bg-white" th:replace="parts/menu :: menu">...menu...</div>
<div class="container ">
    <h1><b><i>REFERENCJE</i></b></h1>
    <p>text</p>

    <img src="../templates/img/banner.png" alt="here should be banner">
    <p style="color: darkgray;
    font-size: 0.5rem" ;
       align="center">Developed by Filip M. -
        <a href="https://www.github.com/Filip-Mosz" style="color: darkgray" target="_blank">
            www.github.com/Filip-Mosz</a></p>
</div>
<footer th:replace="parts/footer :: footer" class="fixed-bottom">The Footer</footer>
</body>
</html>