<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="devCard" style="display: flex; justify-content: center">
  <p style="color: darkgray;
    font-size: 0.5rem;"
  ><a href="https://www.linkedin.com/in/filip-moszczynski-gdy/" style="color: darkgray" target="_blank">Developed by Filip M.</a> -
    <a href="https://www.github.com/Filip-Mosz" style="color: darkgray" target="_blank">
      www.github.com/Filip-Mosz</a></p>
</div>
</body>
</html>