<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!--    due to conflicts with other styles, style for footer land here :|    -->
<footer th:fragment="footer" class="footer-sticky mt-auto py-3"
        style="
            background-color: yellow;
            display: flex;
            align-items: center;
            position: sticky;
            bottom: 0;
            z-index: 1;
            width: 100%;
            justify-content: space-evenly;
            color: #007bff;
            padding-bottom: 0 !important;
        "
>
    <div class="container wrapper">
        <p>&#127968; ul. Świętojańska 75/5, 81-389 Gdynia</p>
    </div>
    <div class="container wrapper">

        <p>&#128222; +48 58 000 00 00</p>
    </div>
    <div  class="container wrapper">

        <p>
            <a href="mailto:DoNotSend@anet.com.pl?subject=Ten%20mail%20nie%20ma%20prawa%20dotrzec">
                &#128233; DoNotSend@anet.com.pl</a></p>
    </div>
    <div class="container wrapper">

        <p>&#127757; <a href="http://www.anet.com.pl" target="_blank">www.anet.com.pl</a></p>
    </div>



</footer>
</body>
</html>