<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                const selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('international?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
<header th:fragment="header" th:text="#{greeting}"> ... header 2 ...
    <div>
        <img src="../img/banner.png" alt="here should be banner" width="75%" >
    </div>
    <span th:text="#{lang.change}">change language</span>
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="pl" th:text="#{lang.pl}"></option>
    </select>

</header>

</body>
</html>