<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

</head>
<body>
<nav th:fragment="menu" class="mt-auto py-3"
     style="
        background-color: #004556;
            display: flex;
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 1;
            width: 100%;
            justify-content: space-evenly;
            scroll-behavior: auto;
            box-shadow: #004556 0px 0px 0 2rem;
    "
>

    <p><a href="/" th:text="#{menu.homepage}">Homepage</a></p>
    <p><a href="/about" th:text="#{menu.about}">About us</a></p>
    <p><a href="/news" th:text="#{menu.news}">News</a></p>
    <p><a href="/offer" th:text="#{menu.offer}">Offer</a></p>
    <p><a th:href="@{/contact}" th:text="#{menu.contact}">Contact</a></p>

<!--    <div class="nav-scroller py-1 mb-2" th:fragment="template(items)">-->
<!--        <nav class="nav d-flex justify-content-between">-->
<!--            <a th:each="item : ${items}"-->
<!--               class="p-2 text-muted"-->
<!--               href="${item.link}" th:text="${item.name}"></a>-->
<!--        </nav>-->
<!--    </div>-->


    <div>
        <span th:text="#{lang.change}">change language</span>
        <select id="locales">
            <option value=""></option>
            <option value="pl" th:text="#{lang.pl}"></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="cz" th:text="#{lang.cz}"></option>
            <option value="ro" th:text="#{lang.ro}"></option>
        </select>
    </div>
</nav>
</body>
</html>